body {
  font-family: 'Arial', sans-serif;
  background-color: #e8f5e9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


div {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}


h1, h2 {
  color: #388e3c;
  text-align: center;
}


input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #a5d6a7;
  box-sizing: border-box;
}


button {
  background-color: #66bb6a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
}

button:hover {
  background-color: #388e3c;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f1f8e9;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:nth-child(even) {
  background-color: #dcedc8;
}


form {
  margin-top: 20px;
}

form div {
  margin-bottom: 10px;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #a5d6a7;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #81c784;
  color: white;
  border-radius: 5px;
}

form button:hover {
  background-color: #388e3c;
}